<div class="fr-header-wrapper container-fluid">
  <div class="fr-logo col-md-2">
    <img src="app/static-assets/logo.png" alt="">
  </div>
  <div class="col-md-5 fr-header-links-wrapper">
    <a href="javascript:void(0)">Transactions</a>
    <a href="javascript:void(0)">Dashboard</a>
  </div>
  <div class="col-md-5 fr-user-wrapper">
    <a class="fr-user">Felix E.</a>
    <a class="fr-user-short">FE</a>
    <a class="fr-sign">
      <i class="fa fa-sign-out" aria-hidden="true"></i>
    </a>
  </div>
</div>
